
body {
    overflow: hidden;
}


#game-window {
    background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)),
    url("../assets/ui/bg.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    position: relative;
    margin: 15vh auto;
}

#life {
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}

.life {
    height: 40px;
    width: 40px;
}

#player-cont {
    position: absolute;
    bottom: 10%;
    animation: 0.3s transform;
    z-index: 1337;
}

#player {
    height: 70px;
    width: 70px;
    transform: rotate(180deg);
}

#score-cont {
    position: absolute;
    right: 4.5%;
    top: 2.5%;
}

#level-cont {
    position: absolute;
    right: 22.5%;
    top: 2.5%;
}

#stats-cont {
    position: absolute;
    right: 37.5%;
    top: 2.5%;
}

#score, #level, #stats {
    color: #ffffff;
    margin: 0;
}

.bullet {
    position: absolute;
    border-radius: 50%;
    bottom: 20%;
    height: 12.5px;
    width: 12.5px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#enemy-cont {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%);
    width: 78%;
    z-index: 1338;
}

.enemy {
    height: 50px;
    width: 50px;
    margin: 0.85rem;
    transition: 0.3s ease-in-out;
}

.explosion {
    position: absolute;
    z-index: 1339;
}

#announcement {
    position: absolute;
    top: 35%;
    font-size: 60px;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    display: none;
}